* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: url('/assets/faux-twitter-background-2.jpeg');
    background-size:auto;
    background-size: cover;
    background-repeat: no-repeat;
}
