.logo {
    width: 65px;
    margin: 25px 35px;
}

.login {
    margin: -95px 25px 20px;
    font-size: 20px;
    color: #3288c7;
}

a:hover {
    color: #6eb4e7;
}

h1 {
    font-size: 120px;
    color: #3288c7;
    margin: 90px 0px 0px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.signupInputArea {
    width: 30%;
    margin: auto;
    margin-top: 30px;
}

.signupInputArea input {
    background-color: transparent;
    color: white;
    font-size: 18px;
    text-align: center;
}

.signupInputArea label {
    color: white;
    font-size: 18px;
}

.signupInputArea button {
    width: 250px;
    margin: auto;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(0, 155, 222, 0.75);
    color: white;
}

.signupInputArea button:hover {
    background-color: transparent;
    font-size: 20px;
    color: #009bde;
    border: 1px solid #009bde;
}
